:root {
  --brand-yellow: #f0ad4e;
  --bg-dark: #041b32;
  --muted: #6c757d;
}

.hero {
  background-image: url('src/assets/home-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero h1, .hero p {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.signup-bg-container {
  background-image: url('src/assets/signup-bg.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.login-bg-container {
  background-image: url('src/assets/login-bg.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

